<section id='about_us'>			
	<div id='about_ministry'>
		<div id='about_image'>
		</div>
		<article>
			<b>About The Isaiah Wealth Ministries</b>
			<p>
				Isaiah Wealth Ministries is an apostolic ministry with the mandate to prepare the way for the return
				of the Lord Jesus Christ.
			</p>

			<p>
				This ministry is working hard in motivating and preparing the individuals
				believer to be involved in reaping the harvest of the last days. It runs several networks, programs
				and crusades back with the supernatural Signs and Wonders and manifestation of the tangible glory of
				God.
			</p>

			<p>
				The outstanding revelatory grace given to Dr Wealth has provided great resources that have been
				of immerse blessing to the body of Christ. The ministry is active in church planting in almost every
				continent of the world through its Missions Assisted Project (MAP).
				This ministry focuses on reaching all nations of the earth, uniting ministers and providing spiritual
				covering and mentorship for pastors and churches all over the world.
			</p>
		</article>
	</div>

	<div id="about_iwm">
		<article>
			<b>About Gospel Pillars Ministry</b>
			<p>
				Gospel Pillars Ministry incorporated is a young ministry which began in 2004 as a campus fellowship
				while its church ministry began in Lagos in 2007. The ministry which has a global vision presently has
				some thousands of members in an ever growing network of churches and campus fellowships in Nigeria and
				beyond the shores of Nigeria and Africa.

			</p>
			<p>
				<p>
					VISION: Giving witness of the true gospel to all nations in love and with great signs.
				</p>

				<p>
					MISSION: Winning and equipping souls for the work of the ministry.
				</p>

				<p>
					PURPOSE:Raising a people of all round success fulfilled in the service of Christ.
				</p>
				<p>
					MOTTO: Happy People. Touching Lives...
				</p>
				<p>
					SCRIPTURAL MOTIVATION: This gospel of the kingdom must be preached in all the world for a witness unto
					all nations, and then shall the end come (Matt. 24: 14).
				</p>

				<p>
					OUR MESSAGE:We believe Christ through the holy Spirit in the heart of a man can bring about any change
					and the accomplishment of any vision or dream, power, sound mind, health, Prosperity, Holiness,
					etc. These workings are by Gods undiluted word which we preach &amp; teach with all humility.
					To effectively aid the proclamation of the gospel of Christ we preach, the ministry developed various
					arms. They are:
				</p>
				<p>
				Gospel Pillars Church (GPC) : This is the church arm of the ministry. It came as a result of the
				mandate in the words of the lord,'I have sent you to build an industry where men and women would be re-manufactured for success; a people that would find fulfilment in spreading the gospel to all the nations of the earth. They shall be many and of a militant spirit. Go raise them and teach men success.'
				</p>
				<p>
					Gospel Pillars Campus Fellowship (GPCF) : This arm is for the campus ministry. Its vision is to reach
					out to students on campus by turning many unto righteousness while maintaining academic excellence.
				</p>

				<p>
					Gospel Pillars Refinery Institute (GPRI) : This is the bible school of the ministry. Its goal is to
					raise labourers for the harvest field.
				</p>
				<p>
					Michael Wealth Media and Outreach Ministry (MMOM) : This is the media arm of the ministry and its
					responsibility is to ensure that the gospel comes out in all audio, mp3 and video formats.
				</p>
				<p>
					Michael Wealth Light Initiative (MLI) : MLI is the helps arm of the ministry. It provides food,
					shelter, medical services and scholarships to the needy in less fancied areas and ghetto.
				</p>
				<p>
					The ministry also nurtures an Internet Ministry, Take Over Network (TON); a network for professionals
					who love the Lord and are passionate for success.
				</p>
			</p>
		</article>
	</div>




	<div id='about_Isaiah'>
		<article>
			<b>About Dr Isaiah Wealth</b>
			<p>
				Dr Isaiah Wealth is a lover of Jesus and a man of great compassion for the sick and less privileged,
				author of several best sellers, song writer and a dynamic teacher, prophet, pastor and evangelist.
				He is indeed a man blessed with a coat of many colours.
			</p>

			<p>
				His Ministry is characterized with great manifestation of miracles, the prophetic and supernatural
				appearance of gold dust - which he refers to as Golden Glory.
			</p>

			<p>
				He is the president of Gospel Pillars Ministry which now operates an ever increasing network of over sixty chapters
				in over three continents including Africa, America and Europe. His passion to reach the world with the
				gospel is the centre of his message, missions and songs which through his record label, MCube is reshaping the
				sphere of christian music. He currently leads the International Christian Association of Ministers, whose vision is
				unity in the body of Christ via truth, holiness and service.
			</p>

			
			<p>
				He earned a Doctor of Ministry degree from Trinity Graduate School of Apologetics, Coaching in 2013, and has been offered IICM 
				membership in Florida USA.
			</p>
		</article>
	</div>

</section>
<style type="text/css">
	b
	{
		font-weight:bolder;
		font-size:16px;
	}
</style>

