<section id="contactUs">
<!-- Longitude 6.609222, Latitude 3.354641-->
	<div id="MapBanner">
		<img src="img/staticmap.png">
	</div>
	<div id="contacts">
		<ul>
			<li class='BrowserLink' url='http://www.gospelpillars.org'>
				<div class="ImgIcon">
					<img src='img/weblink.png'>
				</div>

				<div class="details">
					<div class='upperDetails'>
						Website:
					</div>
					
					<div class='lowerDetails'>
						http://www.gospelpillars.org
					</div>
				</div>
			</li>
			<li>
				<div class="ImgIcon">
					<!-- <img src='img/browser.png'> -->
				</div>
			
				<div class="details">
					<div class='upperDetails'>
						Email:
					</div>
			
					<div class='lowerDetails'>
						info@gospelpillars.org
					</div>
				</div>
			</li>

			<li>
				<div class="ImgIcon">
					<!-- <img src='img/browser.png'> -->
				</div>
				<div class="details">
					<div class='upperDetails'>
						Phone:
					</div>
					
					<div class='lowerDetails'>
						+2348062946122 (Nigeria)
						<br/>
						+2347036905175 (Nigeria)
						<br/>
						+233554038611 (Ghana)
						<br/>
						+27847959125 (South Africa)
						<br/>
						+16179849686 (USA)
						<br/>
						+447453585181 (UK)
						</div>
				</div>
			</li>
			<li style='margin-bottom:60px;'>
				<div class="ImgIcon">
					<img src='img/events_map.png'>
				</div>
				<div class="details">
					<div class='upperDetails'>
						Address:
					</div>
					<div class='lowerDetails'>
						9, kudirat Abiola way,<br/>Alausa Ikeja Lagos.
					</div>
				</div>
			</li>
		</ul>
	</div>
</section>