<section id="otherSites">
	<div id="Txtinfo">
		Reach out to our social media pages
	</div>
	<div id="sites_list">
		<ul>
			<li class='BrowserLink' url='https://www.facebook.com/DrMichaelIsaiahWealth'>
				<div id="site_info">
					<div id="photo">
						<img src="img/facebook.png"/>
					</div>
					<div id="name">
						Facebook
					</div>
				</div>
			</li>

			<li class='BrowserLink' url='https://twitter.com/drisaiahmwealth'>
				<div id="site_info">
					<div id="photo">
						<img src="img/twitter.png"/>
					</div>
					<div id="name">
						Twitter
					</div>
				</div>
			</li>

			<li class='BrowserLink' url='https://www.youtube.com/user/pstwealth'>
				<div id="site_info">
					<div id="photo">
						<img src="img/youtube.png"/>
					</div>
					<div id="name">
						Youtube
					</div>
				</div>
			</li>

		</ul>
	</div>
</section>
<style>#index{margin-top: 50px;}</style>